.label {
    -fx-font-style: normal;
    -fx-alignment: center;
}

.text-area {
    -fx-background-color: red;
    -fx-border-color: red;
}

#top {
    -fx-background-color: red;
    -fx-border-color: red;
}


