.label {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-style: normal;

}

.nadpis {
    -fx-background-color: #F4F6F7;
    -fx-font-weight: bold;
}

.button {
    -fx-font-size: 20;

}

.vychody {
    -fx-background-color: #F4F6F7;

}

.predmety {
    -fx-background-color: #F4F6F7;
}

.npcs {
    -fx-background-color: #F4F6F7;
}

.batoh {
    -fx-background-color: peru;
}